VITE_SUPABASE_URL=https://mbebfccaymmivbomcnxr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iZWJmY2NheW1taXZib21jbnhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NDgyNzAsImV4cCI6MjA5ODMyNDI3MH0.mZIlcfSkpqcOsdPGEjQ0Ic8LLfEcz0WqsMmL1Z7LdKQ
